*.mp3
*.zip
*.js
node_modules
package.json
package-lock.json
env.bat

resource/adv/
resource/character/
resource/image/character/battle/
resource/image/character/cutin/
resource/image/character/deck/
resource/image/character/sidestory/
resource/image/decoration/
resource/image/enemy/battle/cutin
#resource/image/enemy/icon
resource/image/episode/
resource/image/event/
resource/image/exchange/
resource/image/home/gachaExchange/button
resource/image/quest/
resource/image/expedition/
resource/image/footer/
resource/image/loading/
resource/image/loginBonus/
resource/image/mission/
resource/image/navi/
#resource/image/raid/banner
resource/image/shop/
resource/image/summon/battle/
resource/image/summon/cutin/
resource/image/summon/deck/
resource/image/tutorial/
resource/spine/


# Local Netlify folder
.netlify
*.ini
